#container {
    padding: 40px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.blockLine {
    display: flex;
    height: 100px;
    gap: 2px;
    padding-top: 2px;
    flex: 1
}

.block {
    flex: 1;
    background-color: aqua;
}

.hover {
    background-color: blue;
}